.video {
  width: 95vw;
  min-height: 350px;
}
.video-container {
  align-self: center;
}

@media screen and (min-width: 750px) {
  .video {
    float: "left";
    min-height: 500px;
    width: 65vw;
  }
}
